* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edeef2;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    --primary: #379BE9;
    --background: #FFF;
    background-color: var(--background);
    box-shadow: 0 1px 4px -1px rgba(18, 22, 33, 0.24);
    border-radius: 21px 21px 5px 5px;
    width: 400px;
    margin-top: 20px;
    padding: 0 20px;
}


.footer-ul {
    --x: 54px;
    margin: 0;
    padding: 20px 12px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer-li {
    margin: 0 10px;
}

.footer-a {
    text-decoration: none;
    position: relative;
    font-size: 24px;
    line-height: 1;
    z-index: 1;
    color: var(--primary);
    transition: transform 0.3s ease-out;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-i {
    font-weight: bold;
    transition: all 0.3s ease;
}

.footer-a:hover {
    color: #FFF;
    transform: scale(1.1);
    border-radius: 100%;
    background-color: var(--primary);
}

.footer-i {
    color: #FFF;
    animation: appear 0.7s ease;
    z-index: 1;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
