@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edeef2;
    transition: background-color 0.3s ease;
}

/* Header et footer */
.tab {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    width: 100%;
    --primary: #379BE9;
    --background: #FFF;
    background-color: var(--background);
    box-shadow: 0 1px 4px -1px rgba(18, 22, 33, 0.24);
    border-radius: 5px 5px 21px 21px;
    width: 400px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    width: 100%;
    --primary: #379BE9;
    --background: #FFF;
    background-color: var(--background);
    box-shadow: 0 1px 4px -1px rgba(18, 22, 33, 0.24);
    border-radius: 21px 21px 5px 5px;
    width: 400px;
}

ul {
    --x: 54px;
    margin: 0;
    padding: 20px 12px;
    list-style: none;
    display: grid;
    position: relative;
    text-align: center;
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

li {
    position: relative;
    margin: auto;
}

.a-header-footer {
    text-decoration: none;
    position: relative;
    font-size: 24px;
    line-height: 1;
    z-index: 1;
    color: var(--primary);
    transition: transform 0.3s ease-out, color 0.3s ease, background-color 0.3s ease; /* Ajout de la transition pour la couleur de fond */
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    font-weight: bold;
    transition: all 0.3s ease;
}

li::before {
    border-radius: 100%;
    position: absolute;
    width: 60px;
    height: 60px;
    content: "";
    transition: transform 0.3s ease-out, background 0.2s ease-out;
}

li.active .a-header-footer {
    transform: translateY(-40px);
    position: relative;
}

.a-header-footer:hover {
    color: #FFF;
    transform: scale(1.1);
    border-radius: 100%;
    background-color: var(--primary);
}

i {
    color: #FFF;
    animation: appear 0.7s ease;
    z-index: 1;
}

li:nth-child(2) {
    --primary: #F2704D;
}

li:nth-child(3) {
    --primary: #405EFF;
}

li:nth-child(4) {
    --primary: #E8A62C;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Fin du header et footer */

/* Début du formulaire */
h1 {
	font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
	margin: 0;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    margin: auto;
    margin-top: 200px;
    width: 420px;
    max-width: 100%;
    min-height: 420px;
    display: flex;
    justify-content: center;
    align-items: center; /* Nouvelles propriétés pour centrer le contenu */
    animation: appear 0.7s ease;
    transition: background-color 0.3s ease;
}

.info-first {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    margin: auto;
    margin-top: 300px;
    width: auto;
    padding: 50px 50px 50px 50px;
    max-width: 100%;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center; /* Nouvelles propriétés pour centrer le contenu */
    animation: appear 0.7s ease;
    transition: background-color 0.3s ease;
}

.info-first h2 {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.btn-form {
    margin-top: 20px;
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.btn-form:active {
	transform: scale(0.95);
}

.btn-form:focus {
	outline: none;
}

.a-form {
    margin-top: 20px;
	border-radius: 20px;
	border: 1px solid #ff6a50;
	background-color: #ff6a50;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.a-form:active {
	transform: scale(0.95);
}

.a-form:focus {
	outline: none;
}

.inp-form {
	background-color: #eee;
	border: none;
	border-radius: 50px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.sign-in-container {
	width: 100%;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

/* Fin du formulaire */